.card_produtos {
    width: 350px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 100px;
    box-shadow: 0 4px 4px 2px #00000025;
}

.card_produtos img {
    width: 100%;
    height: 300px;
}

.card_produtos p,
.card_produtos span {
    font-size: 18px;
    width: 90%;
}

.card_produtos h2 {
    padding: 1rem;
}